---
layout: default
title: DT
---

<section id="welcome">
  <h1>Digital Thunder</h1>
  <h3>Launching you into the digital era!</h3>

  <!--<script type="text/javascript">
    $( document ).ready(function() {

      $('.cta').click(function() {
        var p = $( "p:first" );
        $( "p:last" ).text( "scrollTop:" + p.scrollTop() );
      });

      console.log('hello');
      // $('.menu-icon').click(function() {
      //   console.log('hello');
      //   $(this).toggleClass('highlight');
      // });
    });

  </script>-->

  <a class="btn cta">Learn more</a>
</section>

<div id="scrollToHere"></div>
{% include content.html %}

<section id="contactus">
  <h1>Get in touch!</h1>
  <h3>Drop us a line to have an informal chat about what we can do for you</h3>
  {% include newsletter.html %}
</section>
