{% for section in site.data.site-info.sections %}
  <section
    id="{{ section.cssId }}"
    class="content {{ section.layout.alignment }}"
    style="background-color: {{ section.backgroundColor }};"
  >

    <!-- section image -->
    {% if section.image %}
      <div class="image">
        <img src="{{ site.requireUrl }}/images/{{ section.image }}" alt="{{ section.content.title }}" />
      </div>
    {% endif %}

    <div class="content">
      <!-- section icon -->
      {% if section.content.icon %}
        <img class="icon" src="{{ site.requireUrl }}/images/icons/{{ section.content.icon }}" alt="{{ section.content.title }}" />
      {% endif %}

      <!-- section title -->
      {% if section.content.title %}
        <h1 class="dot">{{ section.content.title }}</h1>
      {% endif %}

      <!-- section description -->
      {% if section.content.description %}
        <p>{{ section.content.description }}</p>
      {% endif %}

      <!-- section columns -->
      {% if section.content.items %}
        <div class="section-item-wrapper">
          {% for item in section.content.items %}
            <div class="section-item" style="background-color:{{item.backgroundColor}}; color:{{item.textColor}}">
              {% if item.icon %}
                <div class="item-icon-wrapper" style="background-color:{{item.iconBackgroundColor}};">
                  <img class="item-icon" src="{{ site.requireUrl }}/images/icons/{{ item.icon }}" alt="{{ item.title }}" />
                </div>
              {% endif %}
              <p class="item-title">{{ item.itemTitle }}{{ item.metric }}</p>
              <p class="item-description" style="color:{{item.textColor}}">{{ item.description }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </section>
{% endfor %}
