{% for section in site.data.site-info.sections %}
  <section
    id="{{ section.cssId }}"
    class="site-content {{ section.layout.alignment }}"
    style="background-color: {{ section.backgroundColor }};"
  >

    <!-- section image -->
    {% if section.image %}
      <div class="{{ section.animateClass }} image" data-wow-duration=".5s" data-wow-delay="0.6s">
        <img class="{{ section.imageCssId }}" src="{{ site.requireUrl }}/images/{{ section.image }}" alt="{{ section.content.title }}" />
      </div>
    {% endif %}

    <div class="site-content {{ section.content.animateClass }}" data-wow-duration=".5s" data-wow-delay="0.6s">
      <!-- section icon -->
      {% if section.content.icon-img %}
        <img class="icon-img" src="{{ site.requireUrl }}/images/icons/{{ section.content.icon-img }}" alt="{{ section.content.title }}" />
      {% endif %}

      <!-- section title -->
      {% if section.content.title %}
        <h1 class="subtitle">{{ section.content.title }}</h1>
      {% endif %}

      <!-- section description -->
      {% if section.content.description %}
        <p>{{ section.content.description }}</p>
      {% endif %}

      <!-- section columns -->
      {% if section.content.items %}
        <div class="section-item-wrapper">
          {% for item in section.content.items %}
            <div class="section-item {{ item.animateClass }}" data-wow-duration=".5s" data-wow-delay="0.6s" style="background-color:{{item.backgroundColor}}; color:{{item.textColor}}">
              {% if item.icon-img %}
                <div class="item-icon-wrapper" style="background-color:{{item.iconBackgroundColor}};">
                  <img class="item-icon-img" src="{{ site.requireUrl }}/images/icons/{{ item.icon-img }}" alt="{{ item.title }}" />
                </div>
              {% endif %}
              <p class="item-title">{{ item.itemTitle }}{{ item.metric }}</p>
              <p class="item-description" style="color:{{item.textColor}}">{{ item.description }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </section>
{% endfor %}
