<footer>

  {% include logo.html logo=site.data.site-info.logo-white %}

  <div class="wrapper">
  </div>
    <div class="social-media-links">
      {% include social-media-links.html %}
    </div>

  <div class="copyright">
    Copyright &copy;
    {{ site.data.site-info.site-name }}
    <script type="text/javascript">
      var d = new Date();
      document.write(d.getFullYear());
    </script>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>

<!-- Wow js animation library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>

// new WOW({
//   boxClass:     'wow',      // animated element css class (default is wow)
//   animateClass: 'animated', // animation css class (default is animated)
//   offset:       0,          // distance to the element when triggering the animation (default is 0)
//   mobile:       false       // trigger animations on mobile devices (true is default)
// }).init();

// @TODO check for mobile device.
// var isMobile = navigator.userAgent;

// if(isMobile || isTablet) {
//     $('.wow').addClass('wow-removed').removeClass('wow');
// } else {
//     $('.wow-removed').addClass('wow').removeClass('wow-removed');
// }
</script>