<div class="hero-head">
  <nav class="navbar site-nav is-fixed-top site-navbar">
    <div class="container">
      <div class="navbar-brand">
        {% include logo.html logo=site.data.site-info.logo %}
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            {% include navigation.html %}

          <span class="navbar-item">
            <a class="button is-white is-outlined is-small" href="https://facebook.com/digitalthunderweb">
              <span class="icon-img">
                <i class="fa fa-facebook"></i>
              </span>
              <span>Like</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-white is-outlined is-small" href="https://twitter.com/digitalthunderweb">
              <span class="icon-img">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Follow</span>
            </a>
          </span>

        </div>
      </div>
    </div>
  </nav>
</div>
