// Custom Section Styling
.page-content .wrapper {
    // Generally applied styling
    .large-subtitle {
        color: #4a4a4a;
        font-family: 'Raleway', 'Muli', 'Open Sans';
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 12px;
    }

    section.site-content {
        text-align: center;

        @include media-query($large) {
            text-align: left;
        }

        &.contact-section {
            background-color: #59adc0;
        }
        #contact-form {
            padding: 2% 25%;
            color: white;
            font-family: $base-font-family;
            .intro-text {
                height: 50px;
            }
            .form-container {
                margin-top: 2.5rem;
                .label {
                    color: white;
                }
            }
        }

        .image {
            img {
                width: 60%;
                height: auto;
                display: block;
                margin: auto;
            }
        }
        &.right .site-content {
            padding-left: 35px;
        }
        &.left .site-content {
            padding-right: 35px;
        }
        .section-item-wrapper {
            -webkit-box-sizing: none;
            box-sizing: none;
        }
        // Specific styling for sections
        &#intro-text .site-content {

        }
        &#info-cards {
            padding: 0px;

        }
        &#digital-facts .section-item-wrapper {
            padding: 0;
            .section-item {
                background-color: $secondary-color;
            }
        }
        &#section-web-development {
            padding: 3%;
            .image img {
                width: 90%;
            }
        }
        &#section-graphic-design {
            padding: 4%;
            .image img {
                width: 49%;
            }
        }
        &#section-advertising {
            padding: 4%;
            .image img {
                width: 45%;
                @include media-query($xxlarge) {
                     width: 45%;
                }
            }
        }
        &#section-custom-design {
            padding: 3%;
            .image img {
                width: 50%;
            }
        }
    }
}