$header-height: 60px;
$base-padding: .5rem;

body {
    background-color: $primary-color;
    font-family: 'Muli', sans-serif, 'OpenSans';
    font-size: $base-font-size;
    line-height: $base-line-height;
}

section {
    padding-bottom: $header-height;
    padding-top: $header-height;
}

.logo {
    height: auto;
    width: 170px;
    padding-top: 5px;
}

/**
 * Site header navigation
 */
.hero-head .navbar, #navbarMenu {
    background: #333333; /* Old browsers */

    .navbar-burger, .page-link {
        color: white;
    }
}

#navbarMenu .navbar-end a.navbar-item {
    .is-active {
        border-bottom: white 1px solid;
        transition: all 5s;
    }

    &:hover {
        background: rgb(59, 57, 57);
    }
}

.site-title {
    color: $nav-font-color;
    flex: 2;
    font-family: $nav-font;
    font-size: $nav-font-size;
    line-height: 0;
    text-decoration: none;

    &:visited,
    &:hover { color: $nav-font-color; }

    &:after {
        content: '.';
        color: $highlight-color;
    }
}

.site-nav { flex: 1; text-align: right; }
.site-nav a {
    color: $nav-font-color;
    font-family: $base-font-family;
    margin-left: $base-padding;
    text-decoration: none;
}

.menu-icon-img {
    display: block;
    line-height: 0;
    text-align: right;

    @include media-query($large) {
        display: none;
    }

    > svg {
        height: 15px;
        width: 18px;
    }
}

/**
 * Welcome section
 */
h1 { margin-bottom: ($base-padding * 4); }

.dot {
    font-family: $nav-font;
    text-decoration: none;

    &:visited,
    &:hover { color: $nav-font-color; }

    &:after {
        content: '.';
        color: $highlight-color;
    }
}

section#welcome {
    align-items: center;
    background: $welcome-background-color $welcome-background-image center no-repeat;
    background-size: cover;
    color: $welcome-background-text-color;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;

    h1, h3, .btn {
        font-family: $nav-font;
        margin: 0 0 ($base-padding * 1.75);
        text-align: center;
        text-decoration: none;
    }

    h1 { font-size: $nav-font-size * 1.65; padding-top: $header-height; text-shadow: 0px 2px 5px rgba(0, 0, 0, 1); }
    h3 { font-family: 'OpenSans'; font-size: $nav-font-size * .9; font-weight: normal; margin-bottom: ($base-padding * 5); text-shadow: 0px 2px 5px rgba(0, 0, 0, 1); }

    .is-info {
        &:hover {
            background-color: darken($welcome-background-btn-background-color, 5%);
        }
    }

    img {
        height: auto;
        width: 70%;
    }
}

section#contact {
    align-items: center;
    background: $welcome-background-color;
    background-size: cover;
    color: $welcome-background-text-color;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;

    h1, h3, .btn {
        font-family: $nav-font;
        margin: 0 0 ($base-padding * 1.75);
        text-align: center;
        text-decoration: none;
    }

    h1 { font-size: $nav-font-size * 1.65; padding-top: $header-height; text-shadow: 0px 2px 5px rgba(0, 0, 0, 1); }
    h3 { font-family: 'OpenSans'; font-size: $nav-font-size * .9; font-weight: normal; margin-bottom: ($base-padding * 5); text-shadow: 0px 2px 5px rgba(0, 0, 0, 1); }

    .btn {
        background-color: $welcome-background-btn-background-color;
        color: $welcome-background-btn-text-color;

        &:hover {
            background-color: darken($welcome-background-btn-background-color, 5%);
        }
    }

    img {
        height: auto;
        width: 70%;
    }

    .contact-input {
        display: block;
        margin: 8px;
        width: 400px;
        height: 32px;
        &.message {
            height: 60px;
        }

        .submit-contact-button {
            height: 15px;
        }
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: $nav-font;
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}

section.site-content {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: ($base-padding * 3);

    @include media-query($large) {
        padding: $header-height;
    }

    &.columns {
        margin: 0;
        padding-left: 0;
        padding-right: 0;

        .site-content {
            margin: 0;
        }
    }

    &.left {
        flex-direction: column;

        @include media-query($large) {
            flex-direction: row;
        }
    }

    &.right {
        flex-direction: column;

        @include media-query($large) {
            flex-direction: row-reverse;
        }
    }

    &.top {
        flex-direction: column;

        @include media-query($large) {
            flex-direction: column;
        }

        .site-content {
            flex: 2;

            @include media-query($large) {
                margin: ($base-padding * 6);
                max-width: $large;
            }
        }
    }

    &.bottom {
        flex-direction: column;

        @include media-query($large) {
            flex-direction: column-reverse;
        }

        .site-content {
            flex: 2;

            @include media-query($large) {
                margin: ($base-padding * 6);
                max-width: $large;
            }
        }
    }

    .icon-img {
        display: none;
        width: 80px;

        @include media-query($large) {
            display: block;
        }
    }

    .image {
        flex: 2;
    }

    .site-content {
        flex: 2;

        @include media-query($large) {
            margin: ($base-padding * 6);
        }
    }
}

.cards .section-item-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto ($base-font-size * 3);
    padding: 0;

    @include media-query($large) {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        max-width: 1000px;
        width: 100vw;
    }

    .section-item {
        background-color: #fefefe;
        background-image: none !important;
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0 30px 0px #999;
        border-radius: 5px;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        margin: ($base-padding * 4);
        overflow: hidden;
        padding: ($base-padding * 4);
        position: relative;
        text-align: center;

        @include media-query($large) {
            min-height: 300px;
            padding: ($base-padding * 4);
        }

        img {
            display: inline-block;
            height: 100%;
            width: auto;
        }

        .item-title {
            font-family: "OpenSansCondensed";
            font-size: ($base-font-size * 1.2);
            margin-top: ($base-font-size * 2);
        }

        .item-description {
            font-family: "OpenSans";
            margin-bottom: 0;
            margin-top: 0;
        }

        .item-icon-wrapper {
            border-radius: 50%;
            display: flex;
            height: 100px;
            margin: 0 auto;
            width: 100px;
        }

        .item-icon-img {
            height: auto;
            margin: 0 auto;
            width: 70px;

            @include media-query($large) {
                display: block;
            }
        }
    }

    .icon-img {
        display: none;
        width: 80px;

        @include media-query($large) {
            display: block;
        }
    }
}

.columns .section-item-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto ($base-font-size * 3);
    padding: 0;

    @include media-query($large) {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 100vw;
    }

    .section-item {
        background-color: #333;
        background-image: none !important;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: autp;
        justify-content: flex-start;
        // margin: ($base-padding * 2);
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: center;

        @include media-query($large) {
            height: 200px;
            padding: ($base-padding * 2);
        }

        img {
            display: inline-block;
            height: 100%;
            width: auto;
        }

        .item-title {
            font-family: "OpenSansCondensed";
            font-size: ($base-font-size * 4);
            margin-bottom: 0;
            margin-top: ($base-font-size * 2);
            position: relative;
            z-index: 2;
        }

        .item-description {
            font-family: "OpenSans";
            margin-bottom: 0;
            margin-top: 0;
            position: relative;
            z-index: 2;
        }

        .item-icon-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -60px !important;
            margin-left: -60px !important;
            opacity: .2;
            z-index: 1;
        }

        .item-icon-img {
            display: none;
            height: auto;
            margin: 0 auto;
            width: 120px;

            @include media-query($large) {
                display: block;
            }
        }
    }

    .icon-img {
        display: none;
        width: 80px;

        @include media-query($large) {
            display: block;
        }
    }
}


section#idea {
    margin-bottom: $header-height;

    h1, h3, .btn {
        font-family: $nav-font;
        margin: 0 0 ($base-padding * 1.75);
        text-align: center;
        text-decoration: none;
    }

    h1 { font-size: $nav-font-size * 1.65; padding-top: $header-height; }
    h3 { font-family: 'OpenSans'; font-size: $nav-font-size * .9; font-weight: normal; margin-bottom: ($base-padding * 2.5); }
}

    /**
    * Card
    */
    .posts {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;

        @include media-query($large) {
            flex-direction: row;
            justify-content: space-around;
            max-width: 1000px;
            width: 90vw;
        }
    }

    .card {
        background-color: #eee;
        background-image: none !important;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        margin: ($base-padding * 2);
        overflow: hidden;
        padding: ($base-padding * 2);
        text-align: center;

        img {
            display: inline-block;
            height: 100%;
            width: auto;
        }
    }


/**
 * Newsletter
 */

section#contactus {
    background-color: $secondary-color;
    color: #fff;

    h1, h3, .btn, .button {
        font-family: $nav-font;
        margin: 0 0 ($base-padding * 1.5);
        text-align: center;
        text-decoration: none;
    }

    h1 { font-size: $nav-font-size * 1.65; padding-top: $header-height; margin-bottom: ($base-padding * 4); }
    h3 { color: #fff; font-family: 'OpenSans'; font-size: $nav-font-size * .9; font-weight: normal; }

    div#mc_embed_signup {
        background-color: transparent;

        h2 { display: none; }

        // overrides
        .button {
            background-color: $button-background-color !important;
            border-radius: 25px !important;
            color: $button-text-color !important;
            cursor: pointer;
            height: 3rem !important;
            line-height: 0 !important;
            padding: ($base-padding * 2) ($base-padding * 4) !important;

            &:hover {
                background-color: darken($button-background-color, 5%) !important;
            }
        }

        form {
            margin: 0 auto;
            padding: 1rem 0 0;
            text-align: center;
            width: 70%;

            .mc-field-group {
                margin: 0;
                width: 100%;

                + .mc-field-group {
                    display: none;
                }

                label {
                    display: none;
                    font-family: 'OpenSans';
                    margin-bottom: .5rem;
                }

                input {
                    border-radius: 25px;
                    border: none;
                    margin: 0 auto;
                    padding: 1rem;
                    width: 70%;
                }
            }
        }
    }
}

/*
* Content Sections
*/
#what-we-do {
    // Nothing yet
}
#digital-facts .site-content .section-item-wrapper {
    padding-bottom: 4%;
}
section#section-graphic-design {
    .graphic-design-img {
        width: 60%;
        height: auto;
    }
}
section#section-web-development {
    .web-desktop-img {
        width: 60%;
        height: auto;
    }
}
.section-item-wrapper {
    -webkit-box-sizing: none;
    box-sizing: none;
}

footer {
    background-color: #444350;
    color: #fff;
    padding-bottom: $header-height;
    padding-top: $header-height;
    text-align: center;

    h1, h3, .btn, .button {
        font-family: $nav-font;
        margin: 0 0 ($base-padding * 1.5);
        text-align: center;
        text-decoration: none;
    }

    h1 { font-size: $nav-font-size * 1.65; margin-bottom: ($base-padding * 6); padding-top: $header-height; }
    h3 { color: #ddd; font-family: 'OpenSans'; font-size: $nav-font-size * .9; font-weight: normal; }

    .site-title {
        color: #fff;
        flex: 2;
        font-family: $nav-font;
        line-height: 0;
        text-decoration: none;

        &:visited,
        &:hover { color: #fff; }

        &:after {
            content: '.';
            color: $highlight-color;
        }
    }

    .logo {
        margin-bottom: ($base-padding * 4);
        width: 30%;
    }

    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a {
            color: #fff;
            text-decoration: none;
        }

        .site-nav {
            a {
                display: block;
            }
            li.active a {
                color: lightgray;
                cursor: default;
            }
        }
    }

    .social-media-links {
        a {
            margin: 0 $base-padding;
            transition: all .2s ease-in-out;

            img {
                height: 30px;
                width: 20px;
            }

            &:hover {
                opacity: .8;
            }
        }
    }

    .copyright {
        font-size: ($base-font-size * .8);
    }
}
